@import "variables";
@import "mediaq";
@import "footer";

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{
    margin:0%;
    padding: 0%;
    background-image: $colorPrincipal;
    font-family: 'Fredoka'
}

.titulos{
    text-decoration: dashed;
    color: white;
    ul{
        color: white;
    }
}

.header {
    background-color: $colorSec;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: header;
}

.headerImg{
    animation-name: bajar;
    animation-duration: 3s;
    animation-iteration-count:infinite;
}


@keyframes bajar{
    0% {transform: translate(0px, 0px);}
    25% {transform: translate(0px, 10px);}
    50% {transform: translate(0px, -10px);}
}

.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 0.4fr 1fr 0.4fr;
    grid-template-areas:
    "header header"
    "main main"
    "footer footer"
    "section section";
}

.navegacion{
    width: 100%;
   
}

.naveg__li a{
    color: white;
    text-decoration: none;
}

.naveg__ul{
    display: flex; 
    display: block;
    justify-content: center;
    margin-top: 12px;
    font-size: 100px;
}

.navegacion li{
    list-style-type: none;
    display: inline-block;
    padding-right: 10px;
}

.section {
    background-color: $colorSec;
    display: flex;
    justify-content: space-around;
    align-items:baseline;
    grid-area: section;
    text-align: justify;
    color: white;
    padding-left: 12px;
}


section .contact{
    color: white;
}


div .titv{
    color: white;
    background-color: $colorSec;
}


main .boton {
    color: white;
}

.main{
    background-image: $colorPrincipal;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    grid-area: main;

    p{
        padding-left: 14px; 
        color: $color1Parrafo;
        text-align:justify;

        &:hover{
            color: $color2Parrafo;
            font-size: 18px;
            transition: ease-out 0.4s;
        }
    }

}

.main_parrafo a{
    color: white;
}


.cajaGaleria{
    background-image: linear-gradient(to left, rgb(148, 29, 29), rgb(7, 6, 6));
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    grid-area: main;
    flex-wrap: wrap;
    flex-direction: row;
}

.cajaGaleria__img{
    padding-left: 15px;
    color: white;
    text-align:justify;
}

.btn--twitter {
    color: lightblue;
}