body {
    background-image: url("../assets/img/fondo.png");
    background-size: cover;
    background-attachment: fixed; }
  
  .container {
    overflow: hidden; }
  
  .logoHeader {
    width: 180px; }
  
  .logoInicio {
    width: 100%;
    -webkit-box-shadow: -18px 18px 0px -1px #5E5689;
    box-shadow: -18px 18px 0px -1px #5E5689; }
  
  .nav-item {
    font-weight: 600 !important; }
  
  h1 {
    color: black;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 40px;
    font-size: 50px; }
  
  h2 {
    color: black;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700; }
  
  h4 {
    color: white;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 700; }
  
  nav {
    color: black;
    font-family: 'Open Sans', sans-serif;
    transition: all .3s; }
  
  nav ul li {
    transition: all .3s; }
  
  nav ul li:hover {
    transform: scale(1.2); }
  
  a {
    transition: all .3s; }
  
  a:hover {
    color: #b2cea8 !important; }
  
  .cuadro {
    -webkit-box-shadow: 4px -4px 7px -1px rgba(94, 86, 137, 0.51);
    box-shadow: 4px -4px 7px -1px rgba(94, 86, 137, 0.51);
    background-color: #5E5689; }
  
  .imagenInicio {
    width: 180px;
    border-radius: 50%;
    border: 2px solid #5E5689; }
  
  .owl-carousel .owl-item img {
    margin: 0 auto;
    width: 60%; }
  
  .imgWrap {
    position: relative; }
  
  .imgDescription {
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 24px;
    width: 100%;
    height: 100%;
    background: rgba(245, 245, 239, 0.5);
    color: black;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .2s, visibility .2s;
    z-index: 5;
    margin-bottom: 0; }
  
  .imgWrap:hover .imgDescription {
    opacity: 1; }
  
  .imagenRecurso {
    width: 360px;
    border: 2px solid #5E5689; }
  
  .textoPrincipal {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    line-height: 1.8;
    padding: 60px 20px; }
  
  .textoPrincipalConFondo {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    line-height: 1.8;
    padding: 100px 100px; }
  
  .logoFooter {
    width: 30px;
    transition: all .3s; }
  
  .logoFooter:hover {
    transform: scale(1.4); }
  
  .paddingBS {
    padding: 20px; }
  
  .fondo {
    background-image: url("https://wallpaperaccess.com/full/14358.jpg");
    background-size: cover;
    background-attachment: fixed; }
  
  footer {
    background-color: #b2cea8;
    padding: 50px 0px; }
  
  @media only screen and (max-width: 767px) {
    .textoPrincipalConFondo {
      color: white;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      line-height: 1.8;
      padding: 30px 20px; }
    h2 {
      color: black;
      font-family: 'Quicksand', sans-serif;
      margin-bottom: 20px;
      font-size: 35px;
      font-weight: 700; }
    .logoInicio {
      max-width: 300px; }
    .alineacion {
      display: flex;
      justify-content: center; } } /*{
    margin:0%;
    padding: 0%;
    background-image: linear-gradient(to right, rgb(148, 29, 29), rgb(7, 6, 6));
}

.titulos{
    text-decoration: dashed;
    color: white;
}

.titulos ul{
    color: white;
}

.headerImg{
    animation-name: bajar;
    animation-duration: 3s;
    animation-iteration-count:infinite;
}

@keyframes bajar{
    0% {transform: translate(0px, 0px);}
    25% {transform: translate(0px, 10px);}
    50% {transform: translate(0px, -10px);}
}

.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 0.4fr 1fr 0.4fr;
    grid-template-areas:
    "header header"
    "main main"
    "footer footer"
    "section section";
}

.header {
    background-color:#5f0909;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: header;
}

.naveg__li a{
    color: white;
    text-decoration: none;
}

.navegacion li{
    list-style-type: none;
    display: inline-block;
    padding-right: 10px;
}

.naveg__ul li a{
    text-decoration: none;
    color: #ffffff;
}

section .contact{
    color: white;
}

div .titv{
    color: white;
    background-color: #5f0909;
}

main .boton {
    color: white;
}

.main{
    background-image: linear-gradient(to right, rgb(148, 29, 29), rgb(7, 6, 6));
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    grid-area: main;
}
.main p{
    padding-left: 14px;
    color: rgb(182, 178, 232);
    text-align:justify;
    font-family: fantasy;
}

.main p:hover{
    color: rgb(241, 226, 226);
    font-size: 18px;
    transition: ease-out 0.4s;
}

.section {
    background-color:#5f0909;
    display: flex;
    justify-content: space-around;
    align-items:baseline;
    grid-area: section;
}

.section{
    text-align: justify;
    color: white;
    padding-left: 12px;
    font-family: fantasy;
}

.main_parrafo a{
    color: white;
}

.footer{
    background-image: linear-gradient(to right, rgb(148, 29, 29), rgb(7, 6, 6));
    grid-area: footer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 5px;
    color: white;
    font-family: fantasy;
}

.footer a{
    text-decoration: none;
    color: #ffffff;
    text-align: justify;
}

.cajaGaleria{
    background-image: linear-gradient(to left, rgb(148, 29, 29), rgb(7, 6, 6));
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    grid-area: main;
    flex-wrap: wrap;
    flex-direction: row;
}

.cajaGaleria__img{
    padding-left: 15px;
    color: white;
    text-align:justify;
}

@media screen and (max-width:1280px){
    .contenedor{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "header"
        "main"
        "footer";
    }

    .header{
        flex-direction: column;
        justify-content: center;
    }

    .navegacion{
        margin-top: 20px;
    }

    .main{
        flex-wrap: wrap;
    }
    
    .cajaGaleria{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .section{
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer{
        flex-wrap: wrap;
        flex-direction: column;
    }

}

@media screen and (max-width:768px){
    .contenedor{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "header"
        "main"
        "footer";
    }

    .header{
        flex-direction: column;
        justify-content: center;
    }

    .navegacion{
        margin-top: 20px;
    }

    .main{
        flex-wrap: wrap;
    }
    
    .cajaGaleria{
        flex-wrap: wrap;
        justify-content: center;
    }

    .section{
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer{
        flex-wrap: wrap;
        flex-direction: column;
    }

}

@media screen and (max-width:375px){
    .contenedor{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "header"
        "main"
        "footer";
    }

    .header{
        flex-direction: column;
        justify-content: center;
    }

    .navegacion{
        margin-top: 20px;
    }

    .main{
        flex-wrap: wrap;
    }

    .cajaGaleria{
        flex-wrap: wrap;
        justify-content: center;
    }

    .section{
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer{
        flex-wrap: wrap;
        flex-direction: column;
    }
} */