.btn--twitter {
  background-color: #55acee; }

.btn--facebook {
  background-color: #3a5798; }

.btn--whatsapp {
  background-color: #63e24a; }

.btn--instagram {
  background-color: #911c91; }

@media screen and (max-width: 1280px) {
  .contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "header" "main" "footer"; }
  .header {
    flex-direction: column;
    justify-content: center; }
  .navegacion {
    margin-top: 20px; }
  .main {
    flex-wrap: wrap; }
  .cajaGaleria {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; }
  .section {
    flex-wrap: wrap;
    justify-content: center; }
  .footer {
    flex-wrap: wrap;
    flex-direction: column; } }

@media screen and (max-width: 768px) {
  .contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "header" "main" "footer"; }
  .header {
    flex-direction: column;
    justify-content: center; }
  .navegacion {
    margin-top: 20px; }
  .main {
    flex-wrap: wrap; }
  .cajaGaleria {
    flex-wrap: wrap;
    justify-content: center; }
  .section {
    flex-wrap: wrap;
    justify-content: center; }
  .footer {
    flex-wrap: wrap;
    flex-direction: column; } }

@media screen and (max-width: 375px) {
  .contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "header" "main" "footer"; }
  .header {
    flex-direction: column;
    justify-content: center; }
  .navegacion {
    margin-top: 20px; }
  .main {
    flex-wrap: wrap; }
  .cajaGaleria {
    flex-wrap: wrap;
    justify-content: center; }
  .section {
    flex-wrap: wrap;
    justify-content: center; }
  .footer {
    flex-wrap: wrap;
    flex-direction: column; } }

.footer {
  background-image: linear-gradient(to right, #941d1d, #070606);
  grid-area: footer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 5px;
  color: white;
  font-family: fantasy; }
  .footer a {
    text-decoration: none;
    color: #ffffff;
    text-align: justify; }

* {
  margin: 0%;
  padding: 0%;
  background-image: linear-gradient(to right, #941d1d, #070606); }

.titulos {
  text-decoration: dashed;
  color: white; }
  .titulos ul {
    color: white; }

.header {
  background-color: rgba(91, 10, 10, 0.781);
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-area: header; }

.headerImg {
  animation-name: bajar;
  animation-duration: 3s;
  animation-iteration-count: infinite; }

@keyframes bajar {
  0% {
    transform: translate(0px, 0px); }
  25% {
    transform: translate(0px, 10px); }
  50% {
    transform: translate(0px, -10px); } }

.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.4fr 1fr 0.4fr;
  grid-template-areas: "header header" "main main" "footer footer" "section section"; }

.navegacion {
  width: 500px;
  height: 100px; }

.naveg__li a {
  color: white;
  text-decoration: none; }

.naveg__ul li a {
  text-decoration: none;
  color: #ffffff; }

.navegacion li {
  list-style-type: none;
  display: inline-block;
  padding-right: 10px; }

.section {
  background-color: rgba(91, 10, 10, 0.781);
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  grid-area: section;
  text-align: justify;
  color: white;
  padding-left: 12px;
  font-family: fantasy; }

section .contact {
  color: white; }

div .titv {
  color: white;
  background-color: rgba(91, 10, 10, 0.781); }

main .boton {
  color: white; }

.main {
  background-image: linear-gradient(to right, #941d1d, #070606);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  grid-area: main; }
  .main p {
    padding-left: 14px;
    color: #76c4cb;
    text-align: justify;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }
    .main p:hover {
      color: #f1eaea;
      font-size: 18px;
      transition: ease-out 0.4s; }

.main_parrafo a {
  color: white; }

.cajaGaleria {
  background-image: linear-gradient(to left, #941d1d, #070606);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  grid-area: main;
  flex-wrap: wrap;
  flex-direction: row; }

.cajaGaleria__img {
  padding-left: 15px;
  color: white;
  text-align: justify; }
